* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
main {
	flex: 1;
	padding: 25px 0 0 80px;
}

footer {
	padding-left: 80px;
}

ul#side-nav {
	top: 65px;
}
.badges {
	border-radius: 50%;
	position: relative;
	top: -80px;
	margin: -15px -15px;
}
.form_fieldset {
	padding: 1rem 2rem;
}

select.select-filter {
	display: block !important;
	min-height: 150px;
}

.choice-group {
	margin-top: 60px;
}

.block-select {
	border-style: dashed;
	padding: 10px 10px 55px 10px;
	border-color: cadetblue;
}

nav .brand-logo {
	margin-left: 30px;
}

.fixed-action-btn .center button {
	margin-bottom: 5px;
}

.fixed-action-btn.hide-on-large-only{
	position: fixed;
	right: auto;
	bottom: 23px;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 998;
}